body {
  padding: 0;
  margin: 0;

  color: #222;

  /* also used as top margin for content, so that
   * it doesn't overlap the header */
  --header-height: 10vh;
}

.header-container {
  /* always at top, taking up full width and the set view height */
  width: 100%;
  height: var(--header-height);
  position: fixed;
  left: 0;
  top: 0;

  border: 1px solid black;

  /* stick the elements on opposite ends of the header */
  display: flex;
  justify-content: space-between;

  background-color: #fffd;
}

.header-navigation {
  /* center the text */
  display: flex;
  align-items: center;

  padding: 1vw;
}

.header-user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
}

.title {
  text-decoration-line: none;
  color: #333;
  font-size: 2.0em;
}

.title:hover {
  text-decoration-line: underline;
}

.header-button {
  margin: 1vw;
}

.button {
  font-size: 1.2rem;
  padding: 10px;

  text-decoration-line: none;

  border: 1px solid #777;
  box-shadow: 2px 2px 2px #aaa;

  /* this is also the background hover for hover */
  --button-text-color: #333;

  color: var(--button-text-color);
}

.button:hover {
  text-decoration-line: underline;
}

.button-login {
  background-color: #aa55ff;
}

.button-login:hover {
  background-color: var(--button-text-color);
  color: #aa55ff;
}

.button-register {
  background-color: #00aaff;
}

.button-register:hover {
  background-color: var(--button-text-color);
  color: #00aaff;
}

.button-logout {
  background-color: #ff007f;
}

.button-logout:hover {
  background-color: var(--button-text-color);
  color: #ff007f;
}

.button-new-post {
  background-color: #55ff7f;
}

.button-new-post:hover {
  background-color: var(--button-text-color);
  color: #55ff7f;
}
.content {
  /* ensure that the header doesn't cover the content */
  margin-top: var(--header-height);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 2vh;
}

.form {
  font-size: 1.2rem;

  padding: 1rem;
  background-color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  gap: 0.7rem;
}

.text-box {
  height: 1.7rem;
}

.message-box {
  height: 10vh;
  margin: 0;
  padding: 0;
}

.message {
  font-size: 1.3rem;
  width: 32rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-error {
  background-color: #f33;
}

.message-success {
  background-color: #3f3;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50vw;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  background: #ddd;

  margin-bottom: 5rem;
  padding: 2rem;
}

.post-title {
  text-decoration: bold;
  font-size: 4rem;
  text-align: left;
  color: #555;
  margin: 0;
  margin-bottom: 1rem;
}

.post-info {
  font-size: 1.0rem;

  display: flex;
  flex-direction: row;
  justify-content: start;

  width: 100%;
}

.post-creation-time {
}

.post-author {
  color: #55f;
}

.post-description {
  font-size: 1.5rem;
  width: 100%;
}

.post-content {
  font-size: 1.2rem;
  width: 100%;
}
