{{! vim: set ft=html: }}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Seminarski</title>
  </head>
  <body>
    <div class="header-container">
      <div class="header-navigation">
        <a class="title" href="/">Seminarski rad</a>
      </div>
      <div class="header-user-data">
        {{#if username}}
          Good day, {{username}}!
          <a class="button button-logout" href="/logout">Log out</a>
        {{else}}
          <a class="button button-login" href="/login">Login</a>
          <a class="button button-register" href="/register">Register</a>
        {{/if}}
      </div>
    </div>
    <div class="content">
      {{> page}}
    </div>
  </body>
</html>
