{{! vim: set ft=html: }}

{{#*inline "page"}}

<div class="post-container">
  {{#each posts}}
  <div class="post">
    <p class="post-title">{{this.title}}</p>
    <div class="post-info">
      <a class="post-creation-time">{{this.human_creation_time}}</a>
      |
      <a class="post-author">{{this.author}}</a>
    </div>
    <p class="post-description">{{this.description}}</p>
  </div>
  {{/each}}
</div>

{{/inline}}
{{> base username=username }}
