<!DOCTYPE html>
<!-- vim: set ft=html: -->
<html>
  <head>
    <title>Seminarski</title>
  </head>
  <body>
    <p>Welcome!</p>
    <p><a href="/login">Login</a> or <a href="/register">Register</a>
  </body>
</html>
