{{! vim: set ft=html: }}

{{#*inline "page"}}

<p>Welcome!</p>
{{#if username}}
  <p>You are logged in as {{username}}.</p>
{{else}}
  <p><a href="/login">Login</a> or <a href="/register">Register</a>
{{/if}}

{{/inline}}
{{> base }}
