{{! vim: set ft=html: }}

{{#*inline "page"}}

<form class="form" action="/login" method="post">
  <label for="username">Username or E-mail</label>
  <input class="text-box" type="text" id="username_or_email" name="username_or_email"
    {{#if previous_username_or_email}}
      value="{{previous_username_or_email}}"
    {{/if}}
  >
  <br>
  <label for="password">Password</label>
  <input class="text-box" type="text" id="password" name="password">
  <br>
  <input class="button button-login" type="submit" value="Login">
</form>

<div class="message-box">
  {{#if error}}
    <p class="message message-error">{{error}}</p>
  {{/if}}
  {{#if success}}
    <p class="message message-success">{{success}}</p>
  {{/if}}
</div>

{{/inline}}
{{> base username=username }}
