{{! vim: set ft=html: }}

{{#*inline "page"}}

<form class="form" action="/register" method="post">
  <label for="username">Username</label>
  <input class="text-box" type="text" id="username" name="username"
    {{#if previous_username}}
      value="{{previous_username}}"
    {{/if}}
  >
  <br>
  <label for="email">E-mail</label>
  <input class="text-box" type="text" id="email" name="email"
    {{#if previous_email}}
      value="{{previous_email}}"
    {{/if}}
  >
  <br>
  <label for="password">Password</label>
  <input class="text-box" type="password" id="password" name="password">
  <br>
  <label for="password">Password repeat</label>
  <input class="text-box" type="password" id="password_repeat" name="password_repeat">
  <br>
  <input class="button button-login" type="submit" value="Register">
</form>

<div class="message-box">
  {{#if error}}
    <p class="message message-error">{{error}}</p>
  {{/if}}
  {{#if success}}
    <p class="message message-success">{{success}}</p>
  {{/if}}
</div>

{{/inline}}
{{> base username=username }}
